
.pop-box-mask .pop-content {
  padding: 20px;
}
.pop-content .menu {
  line-height: 20px;
  position: relative;
  margin-bottom: 14px;
}
.pop-content .menu .box-label {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: left;
  color: #333333;
  min-height: 24px;
  display: inline-block;
  min-height: 24px;
}
.pop-content .menu .box-cancel {
  position: absolute;
  right: 0px;
  font-size: 17px;
  top: 0px;
  background-size: 22px;
  min-height: 24px;
  display: inline-block;
}
.pop-box-mask .submit-button-row {
  margin-top: 20px;
}
.pop-box-mask .submit-button-row .pop-submit {
  margin-left: 12px;
}
.pop-box-mask .submit-button-row.center {
  text-align: center;
}
.pop-box-mask .submit-button-row.left {
  text-align: left;
}
.pop-box-mask .submit-button-row.right {
  text-align: right;
}
.scroll-lock{
  overflow: hidden;
}