.page {
  background: #efefef;
}
* {
  box-sizing: border-box;
}
.link {
  color: #0056e7;
  cursor: pointer;
}
.link:visited {
  color: #0056e7;
}
.link:hover {
  color: #ff7963;
}
.c {
  clear: both;
}
.cp {
  cursor: pointer;
}
.add-btn {
  border-radius: 2px;
  height: 26px;
  display: inline-block;
  border: solid 1px #333333;
  padding: 0 14px;
  margin-right: 9px;
  background-color: #fff;
}
.dls-add-btn {
  border-radius: 2px;
  height: 24px;
  display: inline-block;
  border: solid 1px #333333;
  padding: 0 12px;
  padding-left: 29px;
  position: relative;
  line-height: 21px;
  padding-right: 6px;
  margin-right: 10px;
  font-size: 14px;
}
.dls-add-btn:after {
  content: '';
  display: block;
  position: absolute;
  width: 12px;
  height: 11px;
  background-size: contain;
  left: 6px;
  top: 5px;
}
.tc {
  text-align: center;
}
.fw-l {
  font-weight: lighter;
}
.fw-b {
  font-weight: bold;
}
.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50px 0 0 50px;
  height: 60px;
  width: 30px;
  background-size: 17px;
  background-position-x: 12px;
  position: absolute;
  background-position-y: 20px;
}
.swiper-container .swiper-button-next:hover,
.swiper-container .swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.swiper-container .swiper-button-prev {
  left: 0px;
  transform: rotate(180deg);
}
.swiper-container .swiper-button-next {
  transform: rotate(0deg);
  right: 0px;
}
.btn,
a.btn {
  background: #ff7963;
  color: white;
  font-size: 14px;
  border-radius: 2px;
  text-align: center;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  min-width: 80px;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
}
.btn.btn-small,
a.btn.btn-small {
  height: 24px;
  height: 24px;
  min-width: 72px;
  line-height: 24px;
  font-size: 12px;
}
.btn.disabled,
a.btn.disabled {
  background-color: #ffcfc7;
  cursor: not-allowed;
}
.btn.btn-white,
a.btn.btn-white {
  background: white;
  border: solid 1px #ececec;
  color: #999999;
}
.btn.btn-loading:after,
a.btn.btn-loading:after {
  content: '请稍等';
  display: block;
  background-color: #ffcfc7;
  cursor: not-allowed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.btn-icon {
  position: relative;
  width: 78px;
  height: 24px;
  border: 1px solid #333;
  background: #fff;
  font-size: 12px;
  padding: 0;
  padding-left: 18px;
  cursor: pointer;
}
.btn-icon.add:after {
  content: '＋';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 18px;
  height: 22px;
  line-height: 22px;
}
.divider {
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}
.mt6 {
  margin-top: 6px;
}
.w30 {
  width: 30px;
}
.h30 {
  height: 30px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
pre {
  white-space: normal;
  color: #333;
  font-family: "Microsoft YaHei", Arial, sans-serif;
}
table {
  border-collapse: collapse;
}
table.table.table-fixed {
  table-layout: fixed;
}
hr {
  border: solid 1px #ececec;
}
.hidden {
  display: none;
}
article,
.paragraph {
  line-height: 1.9;
  font-size: 15px;
  word-wrap: break-word;
  width: 100%;
}
article p,
.paragraph p {
  margin-bottom: 16px;
}
article blockquote,
.paragraph blockquote {
  border-left: 4px solid #cccccc;
  margin-left: 0;
  padding-left: 10px;
  color: #333333;
}
article .thumb img,
.paragraph .thumb img,
article .dls-image-block img,
.paragraph .dls-image-block img {
  cursor: pointer;
}
.icon {
  background: no-repeat center;
  background-size: contain;
}
.vt {
  vertical-align: top;
}



.pop-box-mask {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  overflow: auto;
  z-index: 1000;
}
.pop-box-mask .pop-content {
  padding: 20px;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-name: popBoxZoomIn;
}
.pop-content .menu {
  line-height: 20px;
  position: relative;
  margin-bottom: 14px;
}
.pop-content .menu .box-label {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: left;
  color: #333333;
  min-height: 24px;
  display: inline-block;
  min-height: 24px;
}
.pop-content .menu .box-cancel {
  position: absolute;
  right: 0px;
  font-size: 17px;
  top: 0px;
  background-size: 22px;
  min-height: 24px;
  display: inline-block;
}
.content::-webkit-scrollbar {
  background:transparent;
  border-radius: 10px;
  width: 8px;
}
.content::-webkit-scrollbar-thumb:vertical {
  background:#aaa;
  border-radius: 10px;
}
.pop-box-mask .submit-button-row {
  margin-top: 20px;
}
.pop-box-mask .submit-button-row .pop-submit {
  margin-left: 12px;
}
.pop-box-mask .submit-button-row.center {
  text-align: center;
}
.pop-box-mask .submit-button-row.left {
  text-align: left;
}
.pop-box-mask .submit-button-row.right {
  text-align: right;
}
@keyframes popBoxZoomIn {
  from {
  opacity: 0;
  transform: scale3d(0.7, 0.7, 0.7);
}
50% {
  opacity: 1;
}

}
.scroll-lock{
  overflow: hidden;
}